<!-- ###TEMPLATE### begin -->
<div style="text-align: ###ALIGN###;">
    <a href="###URL###" target="###TARGET###"><img src="###IMAGE###" title="###TITLE_TEXT###" alt="###ALT_TEXT###" style="border: 0;" /></a>
</div>
<!-- ###TEMPLATE### end -->
