<!-- ###LIST### -->
<ul>
	<!-- ###CONTENT### -->
	<!-- ###LIST_ITEM### -->
	<li>
		<!-- ###LIST_LINK### --> ###CHANNEL_TITLE### <!-- ###LIST_LINK### -->
	</li>
	<!-- ###LIST_ITEM### -->
	<!-- ###CONTENT### -->
</ul>
<!-- ###LIST### -->
