<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Image IPTC Data Template</title>


</head>


<body>

<big><big><big><span style="font-weight: bold;">Image
IPTC Data Template</span></big></big></big><br>

<br>

<span style="font-style: italic;">Markers Description:<br>

<br>

</span>TAG &nbsp;&nbsp;&nbsp; &nbsp;- Name of
IPTC data tag.<br>

VALUE - IPTC tag value<br>

<span style="font-style: italic;"></span><br>

<!--###IMG_IPTC_DATA_TEMPLATE### starts here -->

  <table width="100%" border="0" cellpadding="2" cellspacing="2"  class="bgcolor_2" style="text-align: left; width: 100%;">
      <tr>
        <td colspan="2" align="center" class="bgcolor_1"><div align="left">&raquo;&nbsp;###IPTC_HEADER###</div></td>
      </tr>

<!--###IPTC_DATA_ITEM### starts here -->
      <tr>
        <td>###TAG###</td>		
        <td>:&nbsp;###VALUE###</td>
      </tr>
<!--###IPTC_DATA_ITEM### ends here -->

    </tbody>
  </table>

  ###HIDDEN###

<!--###IMG_IPTC_DATA_TEMPLATE### ends here -->
<br>
<br>

<!--###IPTC_NOT_SUPPORTED_TEMPLATE### begins here -->
<br />Sorry, Either this file image file is corrupted, or doesn't support IPTC data.
<!--###IPTC_NOT_SUPPORTED_TEMPLATE### ends here -->

</body>
</html>
