<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <title></title>
  <style type="text/css">
a { color: #FF6600; text-decoration: none; font-family: Verdana,Arial,sans-serif;
font-size:10px;
}
a:hover { color: #9D9D9D; }
  </style>
</head>


<body>

<!--###GALLERY_CONTENT###-->

<!--EXTLINKS_EXCLUDE_START-->
<table style="text-align: left; width: 100%;" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" border="0" cellpadding="2" cellspacing="2">

    <tr>

      <td>&nbsp;###BREADCRUMBS###</td>

    </tr>

    <tr align="left">
      <td><!--###IMAGE_COMMENT###--></td>

    </tr>
    <tr>

      <td>
      <table width="100%">

        <tbody>
          <tr>

            <td><!--###THUMB_VIEW_LINK###-->
            <a href="###GALLERY_LINK###">Back to Gallery&nbsp;</a>
<!--###THUMB_VIEW_LINK###-->###IMAGE_NAVI_1###&nbsp;&nbsp;###IMAGE_NAVI_2###
            </td>
            <td align="right"><!--###INTER_GALLERY_NAVI###-->
            <form name="" action="###FORM_ACTION###" method="###FORM_METHOD###" style="margin: 0px; padding: 0px;">
              <select name="gallery">
<!-- ###INTER_GALLERY_LINK### starts here -->
              <option value="###INTER_GALLERY_ID###" ###SELECTED###>###INTER_GALLERY_NAME###</option>
<!-- ###INTER_GALLERY_LINK### ends here -->
              </select>

              <input name="Submit" value="Go" type="submit">
            </form>
<!--###INTER_GALLERY_NAVI###--> </td>

          </tr>
        </tbody>
      </table>
      </td>

    </tr>
    <tr>

      <td>
      <table align="left" border="0">

        <tbody>
          <tr>

            <td><img src="###IMAGE_SRC###" onclick="###JS###" border="0"> </td>
          </tr>

        </tbody>
      </table>

      </td>
    </tr>

    <tr>
      <td>###IMAGE_COMMENT###</td>

    </tr>
<!--###CLICK_TO_ZOOM###--> <tr>

      <td><a href="#" onclick="###JS###"><img alt="" src="###ENLARGED_VIEW_ICON###" border="0">Click here for enlarged view </a></td>

    </tr>
<!--###CLICK_TO_ZOOM###--> <tr>

      <td>
      <table border="0" cellpadding="2" cellspacing="2" width="100%">

        <tbody>
          <tr>

        <!--###DOWNLOAD_OPTION###--> 
        <td width="50%" valign="top">
            <table border="0" width="100%" style="border:1px solid #D2D2D2 ">
			<tr bgcolor="#C2BC74">
			  <td colspan="3" style="color:#FFFFFF">&nbsp;&raquo;&nbsp;Download the  image in the following Resolution(s)</td>
			</tr>
			<tr><td colspan="3" height="1" bgcolor="#D2D2D2"></td></tr>

                <!--###DOWNLOAD_ITEM###-->

                <tr>

                  <td width="80%">###DOWNLOAD_IMG_TEXT### ###RESOLUTION###</td>

                  <td align="right" nowrap="nowrap" width="10%">###NORMAL_DOWNLOAD###</td>

                  <td width="10%">###ZIPPED_DOWNLOAD###</td>

                </tr>

                <!--###DOWNLOAD_ITEM###-->
                
            </table>
            </td>

        <!--###DOWNLOAD_OPTION###--> 

        <td align="left" valign="top">

            <!---###IMG_INFO###--->

            <table width="260" border="0" align="right" style="border:1px solid #D2D2D2 ">
			<tr bgcolor="#C2BC74">
			  <td colspan="2" style="color:#FFFFFF">&nbsp;&raquo;&nbsp;Image Details</td>
			</tr>
			<tr><td colspan="2" height="1" bgcolor="#D2D2D2"></td></tr>
                <!--###IMG_SIZE_OPTION###-->
                <tr>
                  <td align="left" nowrap="nowrap" valign="top" width="30%">Original Size</td>
                  <td align="left" nowrap="nowrap" valign="top" width="70%">:&nbsp;###IMG_SIZE### Pixel</td>
                </tr>
                <!--###IMG_SIZE_OPTION###-->
                
                
                <!--###IMG_COLORS_OPTION###-->
                <tr>
                  <td align="left" nowrap="nowrap" valign="top">Colors</td>
                  <td align="left" nowrap="nowrap" valign="top">:&nbsp;###IMG_COLORS###</td>
                </tr>
                <!--###IMG_COLORS_OPTION###-->

                <!--###IMG_DATE_OPTION###-->
                <tr>
                    <td align="left">Image Date</td>
                    <td align="left" nowrap="nowrap">:&nbsp;###IMG_DATE###</td>
                </tr>
                <!--###IMG_DATE_OPTION###-->

                <!--###IMG_EXIF_DATA###--> 
                <tr>
                  <td align="left" nowrap="nowrap" valign="top">###NAME###<br>

                  </td>
                  <td align="left" nowrap="nowrap" valign="top">:&nbsp;###DESCRIPTION###<br>

                  </td>
                </tr>
                <!--###IMG_EXIF_DATA###-->

            </table>

            <!---###IMG_INFO###--->

        </td>

          </tr>
          <tr>
            <td colspan="2" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" valign="top"><table width="350"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>###IMAGE_IPTC_DATA###</td>
              </tr>
            </table></td>
          </tr>
        </tbody>
      </table>
      <br>

      </td>
    </tr>

</table>

<!--EXTLINKS_EXCLUDE_STOP-->

<!--###GALLERY_CONTENT###--><br>
</body>
</html>