<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Danish products example template</title>
</head>

<body>




<!-- ###ITEM_LIST_TEMPLATE### begin

This subpart is used to display the regular list of products.

It's also used by search-results.

-->

		<table border="1" cellspacing="0" cellpadding="1" width=1>
			<tr>
				<td><!--###LINK_PREV###-->###GW2B###<div align="left"><b>previous page</b></div>###GW2E###<!--###LINK_PREV###--></td>
				<td></td>
				<td></td>
				<td><!--###LINK_NEXT###-->###GW2B###<div align="right"><b>next page</b></div>###GW2E###<!--###LINK_NEXT###--></td>
			</tr>

	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=4><br>###GW1B###<font size=3><strong>###CATEGORY_TITLE###</strong></font> ###GW1E###
				<br>

				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<tr>
				<td colspan=4 bgcolor="###GC2###">###GW2B###<b>product:</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4><img src="clear.gif" width=1 height=6></td>
			</tr>
          			
			<tr>
			<td>
			<form method="post" action="###FORM_URL###"  name="###FORM_NAME###">
			<table border="1" cellspacing="0" cellpadding="1" width=1>
			<!-- ###ITEM_SINGLE### begin-->
          ###ITEM_SINGLE_PRE_HTML###
          		<td>
          		<table>
				<tr>
					<td><img src="clear.gif" width=20 height=1></td>
					<td><img src="clear.gif" width=1 height=1></td>
					<td><img src="clear.gif" width=60 height=1></td>
					<td><img src="clear.gif" width=20 height=1></td>
				</tr>
				<tr>
					<td colspan=4><img src="clear.gif" width=1 height=6></td>
				</tr>
				<tr>
					<td colspan=2 bgcolor="###GC1###"><!-- ###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###<!-- ###LINK_ITEM###--></td>
				</tr>
				<tr>
					<td valign=top>###PRODUCT_IMAGE###</td>
					<td></td>
				</tr>
				<tr>
					<td valign=top>###GW2B######PRODUCT_NOTE######GW2E###<br>
						###GW1B###<b>price:</b> <font color=red><strong>###PRICE_TAX### ¤</strong></font>###GW1E###<br>
						###GW2B###(excl. tax: ###PRICE_NO_TAX###)###GW2E###<br>
						  <!-- ###display_variant2### -->
						  ###GW2B### Size: ###GW2E### <SELECT style="font-size: 10px"
						  name="###FIELD_SIZE_NAME###" rows="1">###PRODUCT_SIZE###</SELECT><br>
						  <!-- ###display_variant2### -->
					</td>
					<td valign=top nowrap align=right>###GW2B### quantity: ###GW2E###<input size="3" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###"><br>
								<input type="Submit" name="order" value="put in basket">
					</td>
				</tr>
				</table>
				</td>
	      ###ITEM_SINGLE_POST_HTML###
			<!-- ###ITEM_SINGLE### end -->
			</table>
			</form>
			</td>
			</tr>
		<!-- ###ITEM_LIST### end -->

	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
			<tr>
				<td><!--###LINK_PREV###-->###GW2B###<div align="left"><b>previous page</b></div>###GW2E###<!--###LINK_PREV###--></td>
				<td></td>
				<td></td>
				<td><!--###LINK_NEXT###-->###GW2B###<div align="right"><b>next page</b></div>###GW2E###<!--###LINK_NEXT###--></td>
			</tr>
</table>
<br><br>
<!-- ###ITEM_LIST_TEMPLATE### -->




<!-- ###ITEM_LIST_GIFTS_TEMPLATE### begin

This subpart is used to display the regular list of gift products.

-->

<table border="1" cellspacing="0" cellpadding="1" cols="4">
<tr>
<td>
<form method="post" action="###FORM_URL###"  name="###FORM_NAME###"  onsubmit="###FORM_ONSUBMIT###">
<table border="1" cellspacing="0" cellpadding="1">
		<tr>
			<td><!--###LINK_PREV###-->###GW2B###<div align="left"><b>previous page</b></div>###GW2E###<!--###LINK_PREV###--></td>
			<td></td>
			<td></td>
			<td><!--###LINK_NEXT###-->###GW2B###<div align="right"><b>next page</b></div>###GW2E###<!--###LINK_NEXT###--></td>
		</tr>

	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=4><br>###GW1B###<font size=3><strong>###CATEGORY_TITLE###</strong></font> ###GW1E###
				<br>
				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<tr>
				<td colspan=4 bgcolor="###GC2###">###GW2B###<b>product:</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4><img src="clear.gif" width=1 height=6></td>
			</tr>
          			
			<!-- ###ITEM_SINGLE### begin-->
			<tr>
          	<td>
          		<table>
				<tr>
					<td><img src="clear.gif" width=20 height=1></td>
					<td><img src="clear.gif" width=1 height=1></td>
					<td><img src="clear.gif" width=60 height=1></td>
					<td><img src="clear.gif" width=20 height=1></td>
				</tr>
				<tr>
					<td colspan=4><img src="clear.gif" width=1 height=6></td>
				</tr>
				<tr>
					<td colspan=2 bgcolor="###GC1###"><!-- ###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###<!-- ###LINK_ITEM###--></td>
				</tr>
				<tr>
					<td valign=top>###PRODUCT_IMAGE###</td>
					<td></td>
				</tr>
				<tr>
					<td valign=top>###GW2B######PRODUCT_NOTE######GW2E###<br>
						###GW1B###<b>price:</b><br /> 10 ... 10¤<br /> 20 ... 20¤<br /> 50 ... 50¤<br /> 100 ... 100¤<br />###GW1E###
						  <!-- ###display_variant2### -->
						  ###GW2B### Size: ###GW2E### <SELECT style="font-size: 10px"
						  name="###FIELD_SIZE_NAME###" rows="1">###PRODUCT_SIZE###</SELECT><br>
						  <!-- ###display_variant2### -->
					</td>
				<tr>
					<td valign=top nowrap align=right>###GW2B### quantity: ###GW2E###<input size="3" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###"><br>
					</td>
				</tr>			
				</tr>
				</table>
			</td>
			</tr>
			<!-- ###ITEM_SINGLE### end -->
			</table>
			<table>
				<tr>
					<td>###GW1B###<strong>sender name: </strong>###GW1E###</td>
					<td><input type="text" name="###FIELD_NAME_PERSON_NAME###" size="30" value="###GIFT_PERSON_NAME###"></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>sender email: </strong>###GW1E###</td>
					<td><input type="text" name="###FIELD_NAME_PERSON_EMAIL###" size="30" value="###GIFT_PERSON_EMAIL###"></td>
				</tr>
					<td>###GW1B###<strong>receiver name: </strong>###GW1E###</td>
					<td><input type="text" name="###FIELD_NAME_DELIVERY_NAME###" size="30" value="###GIFT_DELIVERY_NAME###"></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>receiver email:</strong>###GW1E###</td>
					<td><input type="text" name="###FIELD_NAME_DELIVERY_EMAIL###" size="30" value="###GIFT_DELIVERY_EMAIL###"'></td>
				</tr> 
				<tr>
					<td>###GW1B###<strong>message: </strong>###GW1E###</td>
					<td><textarea cols=30 rows=5 name="###FIELD_NAME_GIFT_NOTE###" wrap="off">###GIFT_NOTE###</textarea></td>
				</tr>
			</table>
			</td>
			</tr>
		<!-- ###ITEM_LIST### end -->

	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
			<tr>
				<td><!--###LINK_PREV###-->###GW2B###<div align="left"><b>previous page</b></div>###GW2E###<!--###LINK_PREV###--></td>
				<td></td>
				<td></td>
				<td><!--###LINK_NEXT###-->###GW2B###<div align="right"><b>next page</b></div>###GW2E###<!--###LINK_NEXT###--></td>
			</tr>
		<tr>
		<td>
			<input type="hidden" name="giftnumber" value="###GIFTNO###">
			<input type="Submit" name="order" value="put in basket" >
		</td>
	</tr>
</table>
</form>
</td>
</tr>
</table>


<br><br>
<!-- ###ITEM_LIST_GIFTS_TEMPLATE### -->







<!-- ###ITEM_SINGLE_DISPLAY### begin

This subpart is used to display single products.

-->
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
			<tr>
				<td align="left"><!--###LINK_PREV_SINGLE### begin-->###GW2B###&lt;&lt; previous article###GW2E###<!--###LINK_PREV_SINGLE### end--></td>
				<td align="right"><!--###LINK_NEXT_SINGLE### begin-->###GW2B###next article &gt;&gt;###GW2E###<!--###LINK_NEXT_SINGLE### end--></td>
			</tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="1" width=1>
<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
			<tr>
				<td><img src="clear.gif" width=100 height=1></td>
				<td><img src="clear.gif" width=5 height=1></td>
				<td><img src="clear.gif" width=300 height=1></td>
			</tr>
			<tr>
				<td colspan=3><img src="clear.gif" width=1 height=6></td>
			</tr>
			<tr> 
				<td colspan=3 bgcolor="###GC1###"><!-- ###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###<!-- ###LINK_ITEM###--></td>
  				<td>
  				<!-- ###display_variant2### -->
				  ###GW2B### Size: ###GW2E### <SELECT style="font-size: 10px"
				  name="###FIELD_SIZE_NAME###" onchange = "###FIELD_SIZE_ONCHANGE###" rows="1">###PRODUCT_SIZE###</SELECT><br>
				  <!-- ###display_variant2### -->
  				</td>			</tr>
			<tr>
				<td valign=top>###PRODUCT_IMAGE###</td>
				<td></td>
				<td valign=top>
					###GW1B###
						<b>category:</b> ###CATEGORY_TITLE### <br>
						<b>product:</b> ###PRODUCT_ITEMNUMBER###<br>
						<b>price:</b> <font color=red><strong>###PRICE_TAX### ¤</strong></font>###GW2B### &nbsp; (excl. tax ###PRICE_NO_TAX###)###GW2E###<br>

						<b>info:</b><br>
						###PRODUCT_NOTE###<br>
					###GW1E###	<br>
						<nobr>###GW2B### quantity: ###GW2E###<input size="3" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###"> &nbsp; 
						<input type="Submit" name="order" value="put in basket"
onClick="if(!document.forms['###FORM_NAME###']['###FIELD_NAME###'].value!=''){document.forms['###FORM_NAME###']['###FIELD_NAME###'].value=1;};">
						</nobr>
				</td>
			</tr>
</form>
		</table>
<br>
<br>

	###GW2B###
	<!--###LINK_ITEM###-->
	<b><- TILBAGE TIL LISTEN</b>
	<!--###LINK_ITEM###-->
	###GW2E###


<!-- ###ITEM_SINGLE_DISPLAY### end -->


<!-- ###ITEM_SINGLE_DISPLAY_NOT_IN_STOCK### begin

This subpart is used to display single products.

-->
<b>This item is not in stock.</b>
<!-- ###ITEM_SINGLE_DISPLAY_NOT_IN_STOCK### end -->




<!-- ###ITEM_SINGLE_DISPLAY_GIFT### begin

This subpart is used to display single gift products.

-->
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
			<tr>
				<td align="left"><!--###LINK_PREV_SINGLE### begin-->###GW2B###&lt;&lt; previous article###GW2E###<!--###LINK_PREV_SINGLE### end--></td>
				<td align="right"><!--###LINK_NEXT_SINGLE### begin-->###GW2B###next article &gt;&gt;###GW2E###<!--###LINK_NEXT_SINGLE### end--></td>
			</tr>
		</table>
		
		<H2>gift item</H2>

		<table border="0" cellspacing="0" cellpadding="1" width=1>
			<tr>
				<td><img src="clear.gif" width=100 height=1></td>
				<td><img src="clear.gif" width=5 height=1></td>
				<td><img src="clear.gif" width=300 height=1></td>
			</tr>
			<tr>
				<td colspan=2><img src="clear.gif" width=1 height=6></td>
			</tr>
			<!-- ###PRODUCT_DATA### begin-->
			<tr> 
				<td colspan=2 bgcolor="###GC1###"><!-- ###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###<!-- ###display_variant2### --> (Size
  ###FIELD_SIZE_VALUE###)<!-- ###display_variant2### --></b>###GW1E###<!-- ###LINK_ITEM###--></td>
			</tr>
			<tr>
				<td valign=top>###PRODUCT_IMAGE###</td>
				<td valign=top>
					###GW1B###
						<b>category:</b> ###CATEGORY_TITLE### <br>
						<b>product:</b> ###PRODUCT_ITEMNUMBER###<br>
						<b>price:</b> <font color=red><strong>###PRICE_TAX### ¤</strong></font>###GW2B### &nbsp; (excl. tax ###PRICE_NO_TAX###)###GW2E###<br>

						<b>info:</b><br>
						###PRODUCT_NOTE###<br>
					###GW1E###	<br>
				</td>				
			</tr>
			<!-- ###PRODUCT_DATA### end-->
			<!-- ###PERSON_DATA### begin-->
			<form method="post" action="###FORM_URL###" name="###FORM_NAME###" onsubmit="###FORM_ONSUBMIT###">
			<tr>
				<td>###GW1B###<strong>sender name: </strong>###GW1E###</td>
				<td><input type="text" name="###FIELD_NAME_PERSON_NAME###" size="30" value="###GIFT_PERSON_NAME###"></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>sender email: </strong>###GW1E###</td>
				<td><input type="text" name="###FIELD_NAME_PERSON_EMAIL###" size="30" value="###GIFT_PERSON_EMAIL###"></td>
			</tr>
				<td>###GW1B###<strong>receiver name: </strong>###GW1E###</td>
				<td><input type="text" name="###FIELD_NAME_DELIVERY_NAME###" size="30" value="###GIFT_DELIVERY_NAME###"></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>receiver email:</strong>###GW1E###</td>
				<td><input type="text" name="###FIELD_NAME_DELIVERY_EMAIL###" size="30" value="###GIFT_DELIVERY_EMAIL###"></td>
			</tr> 
			<tr>
				<td>###GW1B###<strong>message: </strong>###GW1E###</td>
				<td><textarea cols=30 rows=5 name="###FIELD_NAME_GIFT_NOTE###" wrap="off">###GIFT_NOTE###</textarea></td>
			</tr>
			<tr> <td>
			<nobr>###GW2B### quantity: ###GW2E###<input size="3" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###"> &nbsp; 
						<input type="hidden" name="giftnumber" value="###GIFTNO###">
						<input type="hidden" name="mode_update" value="1">
						<input type="Submit" name="order" value="put in basket"
onClick="if(!document.forms['###FORM_NAME###']['###FIELD_NAME###'].value!=''){document.forms['###FORM_NAME###']['###FIELD_NAME###'].value=1;};">
						</nobr>
			</td></tr>
			</form>
			<!-- ###PERSON_DATA### end-->
		</table>
<br>
<br>

	###GW2B###
	<!--###LINK_ITEM###-->
	<b><- TILBAGE TIL LISTEN</b>
	<!--###LINK_ITEM###-->
	###GW2E###


<!-- ###ITEM_SINGLE_DISPLAY_GIFT### end -->









<!-- ###ITEM_SEARCH###

Subpart for the search-form

-->
<form method="post" action="###FORM_URL###" name="name="###FORM_NAME###"">
	<input size="30" maxlength="100" type="text" name="swords" value="###SWORDS###">
	<input type="Submit" name="order" value="search">
</form>
<!-- ###ITEM_SEARCH### -->










<!-- ###ITEM_SEARCH_EMPTY### begin

Subpart displayed if the search was empty. If the search was successfull, the ITEM_LIST_TEMPLATE in the top is used.

-->
###GW1B###<b>Søgningen var tom.</b>###GW1E###
<!-- ###ITEM_SEARCH_EMPTY### end -->











<!-- ###BASKET_TEMPLATE### begin

Subpart used to display the content of the shopping basket.
The product list part has the exact same features as the regular LIST_ITEM_TEMPLATE subpart.
In addition there's a number of fields used for delivery and payment information.

-->

			<form method="post" action="###FORM_URL###" name="###FORM_NAME###"">
		<table border="0" cellspacing="0" cellpadding="1" width=1>
			<tr>
				<td><img src="clear.gif" width=100 height=1></td>
				<td><img src="clear.gif" width=5 height=1></td>
				<td><img src="clear.gif" width=200 height=1></td>
				<td colspan=3><img src="clear.gif" width=200 height=1></td>
			</tr>
			<tr>
				<td colspan=3 bgcolor="###GC2###">###GW2B###<b>product:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>price:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>quantity:</b>###GW2E###</td>
				<td align=center bgcolor="###GC2###">###GW2B###<b>total:</b>###GW2E###</td>
			</tr>

	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=6><br>###CATEGORY_TITLE###<br>
				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
				<tr>
					<td colspan=6><img src="clear.gif" width=1 height=6></td>
				</tr>
				<tr>
					<td valign=top>###PRODUCT_IMAGE###</td>
					<td></td>
					<td valign=top>
						<!-- ###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###<!-- ###display_variant2### --> (Size
  ###FIELD_SIZE_VALUE###)<!-- ###display_variant2### --></b>###GW1E###<!-- ###LINK_ITEM###-->

					</td>
					<td valign=top>###GW1B### ###PRICE_TAX### ###GW1E###</td>
					<td valign=top>&nbsp;<input type="hidden" name="###FIELD_SIZE_NAME###" value="###FIELD_SIZE_VALUE###">
					<input size="3" maxlength="4" type="text" name="###FIELD_NAME_BASKET###" value="###FIELD_QTY###">&nbsp;</td>
					<td valign=top align=right>###GW1B### <b>###PRICE_TOTAL_TAX###</b> ###GW1E###</td>
				</tr>
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>delivery form:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=6></td>
		</tr>
		<tr>
			<td colspan=5>
			###GW1B###shipping: <b>###SHIPPING_TITLE###</b>###GW1E###<br><br>

			###SHIPPING_SELECTOR###

			###SHIPPING_IMAGE###
			</td>
			<td valign=top align=right>###GW1B### <b>###PRICE_SHIPPING_TAX###</b> <br>(###PRICE_SHIPPING_NO_TAX###) ###GW1E###</td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>payment form:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=6></td>
		</tr>
		<tr>
			<td colspan=5>
			###GW1B###

			###PAYMENT_SELECTOR###

			###GW1E###

###GW2B###
			<!-- ###MESSAGE_PAYMENT### begin
				This whole subpart, message_payment is substituted with the subpart 'message_payment_[number-of-method-in-typoscript]'
			-->
				<!-- ###MESSAGE_PAYMENT_11### begin -->
				<br><b>Du kan kun bruge udenlandske Mastercard i vores butik. Desuden tager MasterCard 5,75% af transaktionsbeløbet i gebyr. Derfor bliver der kompenseret for dette beløb her.</b><br>
				<!-- ###MESSAGE_PAYMENT_11### end -->
				<!-- ###MESSAGE_PAYMENT_12### begin -->
				<br>
				<b>Du kan kun bruge udenlandske VISA-kort i vores butik. Desuden tager VISA 5,75% af transaktionsbeløbet i gebyr. Derfor bliver der kompenseret for dette beløb her.</b><br>
				<!-- ###MESSAGE_PAYMENT_12### end -->
				<!-- ###MESSAGE_PAYMENT_13### begin -->
				<br>
				<b>Du kan kun bruge udenlandske Diners-kort i vores butik. Desuden tager Diners Club 5,75% af transaktionsbeløbet i gebyr. Derfor bliver der kompenseret for dette beløb her.</b><br>
				<!-- ###MESSAGE_PAYMENT_13### end -->
			<!-- ###MESSAGE_PAYMENT### end -->
###GW2E###

			</td>
			<td valign=top align=right>###GW1B### <b>###PRICE_PAYMENT_TAX###</b> <br>(###PRICE_PAYMENT_NO_TAX###) ###GW1E###</td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=6 bgcolor="###GC2###">###GW2B###<b>TOTAL:</b>###GW2E###</td>
		</tr>
		<tr>
			<td valign=top colspan=5></td>
			<td valign=top align=right nowrap>###GW1B### <b>¤ ###PRICE_TOTAL_TAX###</b><br>
			(excl. tax: ###PRICE_TOTAL_NO_TAX###) ###GW1E###</td>
		</tr>
	</table>
	<input type="hidden" name="mode_update" value="1">
	<input type="Submit" name="products_update" value="update calc.">&nbsp;&nbsp;
	<input type="Submit" name="products_info" value="continue with order/payment" onClick="document.forms['###FORM_NAME###'].action='###FORM_URL_INFO###';">
	</form>
	<form method="post" action="###FORM_URL###" name="###FORM_NAME_GIFT_CERTIFICATE###">
	number of gift certificate:<br/>
		<input size="30" maxlength="30" type="text" name="###GIFT_CERTIFICATE_UNIQUE_NUMBER_NAME###">
		<input type="hidden" name="products_info" value="1">
		<input type="Submit" name="products_redeem_gift" value="redeem gift certificate">&nbsp;&nbsp;
	</form>
<br>
<!-- ###BASKET_TEMPLATE### end -->







<!-- ###BASKET_INFO_TEMPLATE### begin

Subpart used if the GLOBAL var "products_info" was set. This is normally used to let people enter address information separately from the real basket
Exact same features as BASKET_TEMPLATE

-->

	<form method="post" action="###FORM_URL###" name="###FORM_NAME###" onsubmit='###FORM_ONSUBMIT###'>

	<table border="0" cellspacing="0" cellpadding="1" width=1>
		<tr>
			<td><img src="clear.gif" width=100 height=1></td>
			<td><img src="clear.gif" width=5 height=1></td>
			<td><img src="clear.gif" width=200 height=1></td>
			<td colspan=3><img src="clear.gif" width=200 height=1></td>
		</tr>


		<tr>
			<td colspan=6 bgcolor="###GC2###">###GW2B###<b>invoice adress:</b>###GW2E###</td>
		</tr>
		<tr>
			<td colspan=6>

			<!-- ###BILLING_ADDRESS### start -->

			###GW1B###
				Indtast din address her. Dette navn og denne adresse vil stå på regningen som den, der køber varerne. <br>
				Normalt vil vi sende varerne til denne adresse, men hvis du angiver en alternativ adresse i felterne nedenfor, så vil vi sende dine varer derhen i stedet.<br>
				Hvis du har valgt "Afhentning" som delivery form, så sendes varerne naturligvis ikke - heller ikke selvom du angiver en leveringsadresse nedenfor. Men det er dog stadig påkrævet, at du angiver en korrekt faktura adresse.
			###GW1E###
				<br>
				<br>
				<table>
				<tr>
					<td>###GW1B###<strong>name/company: </strong>*###GW1E###</td>
					<td><input type="text" name="recs[personinfo][name]" size="30" value="###PERSON_NAME###"></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>address: </strong>*###GW1E###</td>
					<td><textarea cols=30 rows=5 name="recs[personinfo][address]" wrap="off">###PERSON_ADDRESS###</textarea></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>telephone: </strong>*###GW1E###</td>
					<td><input type="text" name="recs[personinfo][telephone]" size="30" value="###PERSON_TELEPHONE###"></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>email:</strong>###GW1E###</td>
					<td><input type="text" name="recs[personinfo][email]" size="30" value="###PERSON_EMAIL###"></td>
				</tr>
				</table><br>

				###GW1B###
				<em>Bemærk: Felter med * skal udfyldes!</em>
				###GW1E###

			<!-- ###BILLING_ADDRESS### end-->


			<!-- ###BILLING_ADDRESS_LOGIN### start

				If this part is not empty then this will be used instead of BILLING_ADDRESS if there is a FE-login user.
			 -->
				<br>
				<table>
				<tr>
					<td>###GW1B###<strong>name/company:</strong>###GW1E###</td>
					<td>###GW1B######PERSON_NAME######GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###<strong>address:</strong>###GW1E###</td>
					<td>###GW1B######PERSON_ADDRESS_DISPLAY######GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###<strong>telephone:</strong>###GW1E###</td>
					<td>###GW1B######PERSON_TELEPHONE######GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###<strong>email:</strong>###GW1E###</td>
					<td>###GW1B######PERSON_EMAIL######GW1E###</td>
				</tr>
				</table>
			<!-- ###BILLING_ADDRESS_LOGIN### end-->
			</td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>delivery adress (if not invoice adress):</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
			<!-- ###DELIVERY_ADDRESS### begin -->
			###GW1B###
				Hvis du ønsker levering til en anden adresse end fakturaadressen ovenfor, så indtast den fulde adresse her. Du kan også angive en contact person/email i forbindelse med dette leveringssted.
			###GW1E###
				<br>
				<br>

				<table>
				<tr>
					<td>###GW1B###<strong>contact person:</strong>###GW1E###</td>
					<td><input type="text" name="recs[delivery][name]" size="30" value="###DELIVERY_NAME###"></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>address:</strong>###GW1E###</td>
					<td><textarea cols=30 rows=5 name="recs[delivery][address]" wrap="off">###DELIVERY_ADDRESS###</textarea></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>telephone:</strong>###GW1E###</td>
					<td><input type="text" name="recs[delivery][telephone]" size="30" value="###DELIVERY_TELEPHONE###"></td>
				</tr>
				<tr>
					<td>###GW1B###<strong>email:</strong>###GW1E###</td>
					<td><input type="text" name="recs[delivery][email]" size="30" value="###DELIVERY_EMAIL###"></td>
				</tr>
				</table>
			<!-- ###DELIVERY_ADDRESS### end -->
			</td>
			<td colspan=3></td>
		</tr>


		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>annotation:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				###GW1B###
					Hvis du har nogle kommentarer til din ordre eller leveringen, så benyt dette felt til disse.
				###GW1E###
				<br>
				<br>

				<table>
				<tr>
					<td>###GW1B###Besked:###GW1E###</td>
					<td><textarea cols=30 rows=5 name="recs[delivery][note]">###DELIVERY_NOTE###</textarea></td>
				</tr>
				</table>
			</td>
			<td colspan=3></td>
		</tr>
	</table>
	<br>
  <fieldset>
  <legend>Videre</legend>
	<input type="Submit" name="products_update" value="back to basket">&nbsp;&nbsp;	
	<input type="Submit" name="products_payment" value="pay / order" onClick="document.forms['###FORM_NAME###'].action='###FORM_URL_FINALIZE###';">
	<input type="hidden" name="products_cmd" value="cardno" />
  </fieldset>
</form>
<br>
<!-- ###BASKET_INFO_TEMPLATE### end -->








<!-- ###BASKET_PAYMENT_TEMPLATE### begin

Subpart used if the GLOBAL var "products_payment" was set. This displays the final information about the order before the payment is initiated.
Exact same features as BASKET_TEMPLATE

-->

		<table border="0" cellspacing="0" cellpadding="1" width=1>
			<tr>
				<td><img src="clear.gif" width=100 height=1></td>
				<td><img src="clear.gif" width=5 height=1></td>
				<td><img src="clear.gif" width=200 height=1></td>
				<td colspan=3><img src="clear.gif" width=200 height=1></td>
			</tr>
			<tr>
				<td colspan=3 bgcolor="###GC2###">###GW2B###<b>product:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>price:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>quantity:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>total:</b>###GW2E###</td>
			</tr>

	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=6><br>###CATEGORY_TITLE###<br>
				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
				<tr>
					<td colspan=6><img src="clear.gif" width=1 height=6></td>
				</tr>
				<tr>
					<td valign=top>###PRODUCT_IMAGE###</td>
					<td></td>
					<td valign=top>
						###GW1B###<b>###PRODUCT_TITLE###<!-- ###display_variant2### --> (Size
  ###FIELD_SIZE_VALUE###)<!-- ###display_variant2### --></b>###GW1E###

					</td>
					<td valign=top>###GW1B### ###PRICE_TAX### ###GW1E###</td>
					<td valign=top>###GW1B### ###FIELD_QTY### ###GW1E###</td>
					<td valign=top align=right>###GW1B### <b>###PRICE_TOTAL_TAX###</b> ###GW1E###</td>
				</tr>
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->



		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>

		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>invoice adress:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				<table cellspacing=3>
				<tr>
					<td>###GW1B###name/company:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_NAME###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###address:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_ADDRESS_DISPLAY###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###telephone:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_TELEPHONE###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###email:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_EMAIL###</strong>###GW1E###</td>
				</tr>
				</table>
			</td>
			<td colspan=3></td>
		</tr>



		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Delivery adress:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				<table>
				<tr>
					<td>###GW1B###address:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_ADDRESS_DISPLAY###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###contact person:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_NAME###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###telephone:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_TELEPHONE###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###email:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_EMAIL###</strong>###GW1E###
					###GW2B###<br>(Denne adresse modtager ordre bekræftelsen!)###GW2E###<br>
					</td>
				</tr>
				</table>
			</td>
			<td colspan=3></td>
		</tr>


		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>annotation:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				<table>
				<tr>
					<td>###GW1B###annotation:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_NOTE_DISPLAY###</strong>###GW1E###</td>
				</tr>
				</table>
			</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>shipping/payment:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>



		<tr>
			<td valign=top colspan=3>###GW1B###
				<strong>shipping form:</strong><br>
				###SHIPPING_IMAGE### ###SHIPPING_TITLE###

			###GW1E###</td>

			<td valign=top align=right colspan=3>###GW1B###
			<b>###PRICE_SHIPPING_TAX###</b><br>
			(###PRICE_SHIPPING_NO_TAX###)<br>

			###GW1E###</td>
		</tr>
		<tr>
			<td valign=top colspan=3>###GW1B###
				<strong>payment form:</strong><br>
				###PAYMENT_IMAGE### ###PAYMENT_TITLE###
			###GW1E###
###GW2B###
			<!-- ###MESSAGE_PAYMENT### begin
				This whole subpart, message_payment is substituted with the subpart 'message_payment_[number-of-method-in-typoscript]'
			-->
				<!-- ###MESSAGE_PAYMENT_11### begin -->
				<br><b>Du kan kun bruge udenlandske Mastercard i vores butik. Desuden tager MasterCard 5,75% af transaktionsbeløbet i gebyr. Derfor bliver der kompenseret for dette beløb her.</b><br>
				<!-- ###MESSAGE_PAYMENT_11### end -->
				<!-- ###MESSAGE_PAYMENT_12### begin -->
				<br>
				<b>Du kan kun bruge udenlandske VISA-kort i vores butik. Desuden tager VISA 5,75% af transaktionsbeløbet i gebyr. Derfor bliver der kompenseret for dette beløb her.</b><br>
				<!-- ###MESSAGE_PAYMENT_12### end -->
				<!-- ###MESSAGE_PAYMENT_13### begin -->
				<br>
				<b>Du kan kun bruge udenlandske Diners-kort i vores butik. Desuden tager Diners Club 5,75% af transaktionsbeløbet i gebyr. Derfor bliver der kompenseret for dette beløb her.</b><br>
				<!-- ###MESSAGE_PAYMENT_13### end -->
			<!-- ###MESSAGE_PAYMENT### end -->
###GW2E###
			</td>
			<td valign=top align=right colspan=3>###GW1B###
			<b>###PRICE_PAYMENT_TAX###</b><br>
			(###PRICE_PAYMENT_NO_TAX###)<br>

			###GW1E###</td>
		</tr>

		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=6 bgcolor="###GC2###">###GW2B###<b>TOTAL:</b>###GW2E###</td>
		</tr>
		<tr>
			<td valign=top colspan=3>###GW1B###
				<strong>total beløb i DKR:</strong>
			###GW1E###</td>

			<td valign=top align=right colspan=3 nowrap>###GW1B###
			<b>¤ ###PRICE_TOTAL_TAX###</b><br>
			(excl. tax: ###PRICE_TOTAL_NO_TAX###)<br>

			###GW1E###</td>
		</tr>
	</table>
	<br>

	<form method="post" action="###FORM_URL###" name="paymentform">
	<input type="Submit" name="products_update" value="back to shopping">&nbsp;&nbsp;	
	<input type="Submit" name="products_finalize" value="Udfør ordre" onclick="document.getElementsByName('paymentform')[0].action='###FORM_URL_THANKS###'; document.getElementsByName('paymentform')[0].target='###FORM_URL_TARGET###';">
	</form>

<br>

	<form method="post" action="###FORM_URL###" name="###FORM_NAME_GIFT_CERTIFICATE###">
	###GW1B###number of gift certificate:###GW1E###<br/>
		<input size="30" maxlength="30" type="text" name="###GIFT_CERTIFICATE_UNIQUE_NUMBER_NAME###">
		<input type="hidden" name="products_payment" value="1">
		<input type="Submit" name="products_redeem_gift" value="redeem gift certificate">&nbsp;&nbsp;
	</form>


<!-- ###BASKET_PAYMENT_TEMPLATE### end -->









<!-- ###BASKET_ORDERCONFIRMATION_TEMPLATE### begin

Subpart used if the order is finalized and this is thus the confirmation shown.

-->

		<table border="0" cellspacing="0" cellpadding="1" width=1>
			<tr>
				<td><img src="clear.gif" width=100 height=1></td>
				<td><img src="clear.gif" width=5 height=1></td>
				<td><img src="clear.gif" width=200 height=1></td>
				<td colspan=3><img src="clear.gif" width=200 height=1></td>
			</tr>



			<tr>
				<td colspan=6>
				###GW1B###
					<b>Ordre bekræftelse:</b><br>
					Mange tak fordi du handlede med os.<br>
					Din ordre er gennemført og har nummer:<br><br>
										&nbsp;&nbsp;&nbsp;&nbsp;<b>###ORDER_UID###</b> <br>
										<br>
										Brug dette nummer som reference ved henvendelse til Inter-Photo.<br>
					Ordrebekræftelsen er også sendt til email-adressen under "Levering" (###DELIVERY_EMAIL###) såfremt denne er angivet. Du bør dog under alle omstændigheder printe denne page ud som bevis på din bestilling.<br>
					<br>

					<!-- ###MESSAGE_PAYMENT### begin
						This whole subpart, message_payment is substituted with the subpart 'message_payment_[number-of-method-in-typoscript]'
					-->
						<!-- ###MESSAGE_PAYMENT_10### begin -->
						<b>Dankort transaktionen blev godkendt</b> og har transaktionsnummeret, ###TRANSACT_CODE###.<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_10### end -->
						<!-- ###MESSAGE_PAYMENT_11### begin -->
						<b>Mastercard transaktionen blev godkendt</b> og har transaktionsnummeret, ###TRANSACT_CODE###.<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_11### end -->
						<!-- ###MESSAGE_PAYMENT_12### begin -->
						<b>VISA transaktionen blev godkendt</b> og har transaktionsnummeret, ###TRANSACT_CODE###.<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_12### end -->
						<!-- ###MESSAGE_PAYMENT_13### begin -->
						<b>Diner Club transaktionen blev godkendt</b> og har transaktionsnummeret, ###TRANSACT_CODE###.<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_13### end -->
						<!-- ###MESSAGE_PAYMENT_20### begin -->
						<b>Solo-e transaktionen blev godkendt</b> og har transaktionsnummeret, ###TRANSACT_CODE###.<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_20### end -->
						<!-- ###MESSAGE_PAYMENT_40### begin -->
						<b>VIGTIGT! Dit næste skridt:</b><br>
						Da du har valgt at betale for varerne forud skal du overføre pengene til Inter-Photo's bank- eller GIROkonto. <br>
						- Bank: Unibank. Reg: <strong>1938</strong> Konto: <strong>0381576000</strong><br>
						- GIRO: 1160036<br>
						- Check: Send til butikkens address. Ses nederst på denne page.<br>
						Husk at anfør ordre-nummeret, ###ORDER_UID###, på overførslen.<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_40### end -->
						<!-- ###MESSAGE_PAYMENT_50### begin -->
						<b>Køb på kredit</b><br>
						Du har det privilegie at være kontokunde hos os, så beløbet bliver ganske enkelt skrevet på din regning i butikken - sådan som du er vant til!<br>
						<br>
						<!-- ###MESSAGE_PAYMENT_50### end -->
					<!-- ###MESSAGE_PAYMENT### end -->

					<b>Levering og ordrestatus:</b><br>
					Levering sker iflg. vores salgs- og leveringsbetingelser inden for 3 dage fra ordreafgivelsen, som er dateret til ###ORDER_DATE###.<br>
					<br>
					Du kan følge status med din ordre ved at bruge dit trackingnummer, som er <br>
					<strong>###ORDER_TRACKING_NO###</strong>. Klik her for at <a href="http://###DOMAIN###/index.php?id=###PID_TRACKING###&type=0&tracking=###ORDER_TRACKING_NO###">se status nu.</a><br><br>

					Vi håber, at du har følt dig lige så godt betjent i vores Internet-butik, som i vores virkelige forretninger. Hvis du har forslag til forbedringer eller andre kommentarer, så skriv til <a href="mailto:butik@inter-photo.dk">butik@inter-photo.dk</a>.<br>
					<br>

				###GW1E###
				</td>
			</tr>


			<tr>
				<td colspan=3 bgcolor="###GC2###">###GW2B###<b>product:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>price:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>qty:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>total:</b>###GW2E###</td>
			</tr>


	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=6><br>###CATEGORY_TITLE###<br>
				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
				<tr>
					<td colspan=6><img src="clear.gif" width=1 height=6></td>
				</tr>
				<tr>
					<td valign=top>###PRODUCT_IMAGE###</td>
					<td></td>
					<td valign=top>
						###GW1B###<b>###PRODUCT_TITLE###<!-- ###display_variant2### --> (Size
  ###FIELD_SIZE_VALUE###)<!-- ###display_variant2### --></b>###GW1E###

					</td>
					<td valign=top>###GW1B### ###PRICE_TAX### ###GW1E###</td>
					<td valign=top>###GW1B### ###FIELD_QTY### ###GW1E###</td>
					<td valign=top align=right>###GW1B### <b>###PRICE_TOTAL_TAX###</b> ###GW1E###</td>
				</tr>
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->



		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>

		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>invoice adress:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				<table cellspacing=3>
				<tr>
					<td>###GW1B###name/company:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_NAME###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###address:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_ADDRESS_DISPLAY###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###telephone:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_TELEPHONE###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###email:###GW1E###</td>
					<td>###GW1B###<strong>###PERSON_EMAIL###</strong>###GW1E###</td>
				</tr>

					<!-- ###FE_USER_SECTION###  begin -->
				<tr>
					<td>###GW1B###Brugernavn:###GW1E###</td>
					<td>###GW1B###<strong>###FE_USER_USERNAME###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###Brugerid:###GW1E###</td>
					<td>###GW1B###<strong>###FE_USER_UID###</strong>###GW1E###</td>
				</tr>
					<!-- ###FE_USER_SECTION###  end -->

				</table>
			</td>
			<td colspan=3></td>
		</tr>



		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>delivery address:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				<table>
				<tr>
					<td>###GW1B###address:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_ADDRESS_DISPLAY###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###contact person:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_NAME###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###telephone:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_TELEPHONE###</strong>###GW1E###</td>
				</tr>
				<tr>
					<td>###GW1B###email:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_EMAIL###</strong>###GW1E###</td>
				</tr>
				</table>
			</td>
			<td colspan=3></td>
		</tr>


		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>annotation:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=3>
				<table>
				<tr>
					<td>###GW1B###annotation:###GW1E###</td>
					<td>###GW1B###<strong>###DELIVERY_NOTE_DISPLAY###</strong>###GW1E###</td>
				</tr>
				</table>
			</td>
			<td colspan=3></td>
		</tr>
		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>shipping/order:</b>###GW2E###</td>
			<td colspan=3></td>
		</tr>



		<tr>
			<td valign=top colspan=3>###GW1B###
				<strong>shipping form:</strong><br>
				###SHIPPING_IMAGE### ###SHIPPING_TITLE###

			###GW1E###</td>

			<td valign=top align=right colspan=3>###GW1B###
			<b>###PRICE_SHIPPING_TAX###</b><br>
			(###PRICE_SHIPPING_NO_TAX###)<br>

			###GW1E###</td>
		</tr>
		<tr>
			<td valign=top colspan=3>###GW1B###
				<strong>order form:</strong><br>
				###PAYMENT_IMAGE### ###PAYMENT_TITLE###
			###GW1E###</td>

			<td valign=top align=right colspan=3>###GW1B###
			<b>###PRICE_PAYMENT_TAX###</b><br>
			(###PRICE_PAYMENT_NO_TAX###)<br>

			###GW1E###</td>
		</tr>


		<tr>
			<td colspan=6><img src="clear.gif" width=1 height=10></td>
		</tr>
		<tr>
			<td colspan=6 bgcolor="###GC2###">###GW2B###<b>TOTAL:</b>###GW2E###</td>
		</tr>
		<tr>
			<td valign=top colspan=3>###GW1B###
				<strong>total beløb i DKR:</strong>
			###GW1E###</td>

			<td valign=top align=right colspan=3>###GW1B###
			<b>¤ ###PRICE_TOTAL_TAX###</b><br>
			(excl. tax: ###PRICE_TOTAL_NO_TAX###)<br>

			###GW1E###</td>
		</tr>
			<tr>
				<td colspan=6>
				###GW1B###

<br>
<br>
Med venlig hilsen:
<br>
<br>

&nbsp;&nbsp;&nbsp;<strong>Inter Photo A/S </strong><br>
&nbsp;&nbsp;&nbsp;Torvet 14 <br>
&nbsp;&nbsp;&nbsp;8600 Silkeborg <br>
<br>
&nbsp;&nbsp;&nbsp;Tlf.nr.: 86 80 41 42<br>

				###GW1E###
				</td>
			</tr>
	</table>
	<br>
<br>
<!-- ###BASKET_ORDERCONFIRMATION_TEMPLATE### end -->






<!-- ###BASKET_TEMPLATE_EMPTY### begin

If the basket is empty this subpart is displayed

-->
###GW1B###<b>shopping basket is empty.</b>###GW1E###
<!-- ###BASKET_TEMPLATE_EMPTY### end -->







<!-- ###BASKET_REQUIRED_INFO_MISSING### begin

If payment is initiated but the required information fields are not filled in correctly, this happens

-->
###GW1B###<b>Du har ikke udfyldt alle påkrævede felter med adresse information. ###ERROR_DETAILS### Gå venligst tilbage og gør det.</b>###GW1E###

	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
	<input type="Submit" name="products_info" value="input address information" onClick="document.forms['###FORM_NAME###'].action='###FORM_URL_INFO###';">
	</form>

<!-- ###BASKET_REQUIRED_INFO_MISSING### end -->








<!-- ###BASKET_TEMPLATE_NOT_LOGGED_IN### begin

For some functionality it is necessary that a front end user has been logged in. Otherwise this error message must appear.

-->
###GW1B###<b>You have not logged in as a front end user. You have to create a frontend user to redeem a gift certificate.</b>###GW1E###

	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
	<input type="Submit" name="basket" value="back to the basket page" onClick="document.forms['###FORM_NAME###'].action='###FORM_URL_INFO###';">
	</form>

<!-- ###BASKET_TEMPLATE_NOT_LOGGED_IN### end -->






<!-- ###BASKET_TEMPLATE_INVALID_GIFT_UNIQUE_ID### begin

When someone has entere a wrong unique gift number this message will appear

-->
###GW1B###<b>The gift number is not valid.</b>###GW1E###

	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
	<input type="Submit" name="basket" value="back to the basket page" onClick="document.forms['###FORM_NAME###'].action='###FORM_URL_INFO###';">
	</form>

<!-- ###BASKET_TEMPLATE_INVALID_GIFT_UNIQUE_ID### end -->







<!-- ###TRACKING_DISPLAY_INFO### begin
Displays the view of the order status by tracking codes.
-->
###GW1B###
<b>your order (###ORDER_UID###) has this status:</b><br>
(Nederste linie er seneste ændring)<br>
<br>

<table border=1 cellpadding=0 cellspacing=4>
	<tr>
		<td>###GW2B### <strong>date:</strong> ###GW2E###</td>
		<td>###GW2B### <strong>code:</strong> ###GW2E###</td>
		<td>###GW2B### <strong>Handling:</strong> ###GW2E###</td>
		<td>###GW2B### <strong>comment:</strong> ###GW2E###</td>
	</tr>

		<!-- ###STATUS_ITEM### begin

		This part is repeated for each order status item and finally this part in the template code is substituted with the accumulated code for all order status actions.
		-->
	<tr>
		<td nowrap valign=top>###GW2B### ###ORDER_STATUS_TIME### &nbsp;###GW2E###</td>
		<td valign=top>###GW2B### ###ORDER_STATUS### &nbsp;###GW2E###</td>
		<td nowrap valign=top>###GW2B### ###ORDER_STATUS_INFO### &nbsp;###GW2E###</td>
		<td valign=top>###GW2B### ###ORDER_STATUS_COMMENT### &nbsp;###GW2E###</td>
	</tr>
		<!-- ###STATUS_ITEM### end -->
</table>
<br>

	<!-- ###ADMIN_CONTROL### begin -->
<table border=0 cellpadding=1 cellspacing=0 bgcolor="black"><tr><td>
	<table border=0 cellpadding=10 cellspacing=0 bgcolor="#92AFCB"><tr><td>
		###GW1B### <strong>Inter-Photo ADMIN:</strong><br>
		Ordre: ####ORDER_UID###
		<br>
		###GW1B###

	<!-- ###ADMIN_CONTROL_OK### begin -->
	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
	<select name="orderRecord[status][]" size="9" multiple>
		###STATUS_OPTIONS###
	</select>
		<br>
		###GW1B###Kommentar til ny ordre status:###GW1B###<br>
		<textarea cols="40" rows="5" name="orderRecord[status_comment]"></textarea><br>

		<input type="hidden" name="tracking" value="###TRACKING_NUMBER###"><br>
		<input type="hidden" name="update_code" value="###UPDATE_CODE###"><br>
		<input type="Submit" name="submit" value="add order status">
		</form>
		<hr>
		Skift ordre:
		<form method="post" action="###FORM_URL###">
			<select name="tracking" size="9">
				###OTHER_ORDERS_OPTIONS###
			</select><br><br>

			<input type="Submit" name="submit" value="Vælg">
			<input type="hidden" name="update_code" value="###UPDATE_CODE###"><br>
		</form>
	<!-- ###ADMIN_CONTROL_OK### begin -->
	<!-- ###ADMIN_CONTROL_DENY### begin -->
		<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
			<input type="hidden" name="tracking" value="###TRACKING_NUMBER###"><br>
		###GW1B###code:###GW1B###<br>
			<input type="password" size=40 name="update_code" value="###UPDATE_CODE###">
			<input type="Submit" name="submit" value="input code">
		</form>
	<!-- ###ADMIN_CONTROL_DENY### begin -->


		</td></tr></table>
	</td></tr>
</table><br>

	<!-- ###ADMIN_CONTROL### end -->


<strong>email besked:</strong><br>
Hvis du ønsker at modtage en besked til ordrens contactemail, ###FIELD_EMAIL###, hver gang status opdateres, så afkryds dette felt herunder.<br>
	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">

	<input type="checkbox" name="orderRecord[email_notify]" ###FIELD_EMAIL_NOTIFY###>Modtag besked ved status ændringer<br>
	<input type="text" size=40 name="orderRecord[email]" value="###FIELD_EMAIL###">
	<input type="hidden" name="tracking" value="###TRACKING_NUMBER###">

	<input type="Submit" name="submit" value="Opdater">
	</form>
<br><br>
<strong>Besked til butikken:</strong><br>
Du kan indsende en besked til butikken angående denne ordre.<br>
	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
	<input type="hidden" name="tracking" value="###TRACKING_NUMBER###">
	###GW1B###Vælg emne:###GW1B###<br>
	<select name="orderRecord[status][]" size="1">
		<option value=51>Besked fra kunden til butikken</option>
		<option value=50>Kunden anmoder om annullering</option>
		<!--###STATUS_CODE_60### begin --><option value=60>Send gift certificate message to receiver</option><!--###STATUS_CODE_60### end -->
	</select>
	<br>
	###GW1B###Kommentar til beskeden:###GW1B###<br>
	<textarea cols="40" rows="5" name="orderRecord[status_comment]"></textarea><br>
	<input type="Submit" name="submit" value="Indsend besked">
	</form>
<br>
<br>
<b>Dette er din oprindelige ordre bekræftelse:</b><br><br>
###GW1E###
<HR>
<br>

###ORDER_HTML_OUTPUT###
<!-- ###TRACKING_DISPLAY_INFO### end -->






<!-- ###TRACKING_ENTER_NUMBER### begin
Displays form for entering the tracking number.
-->
###GW1B###<b>Bestellstatus-Code eingeben:</b>###GW1E###<br>
<form method="post" action="###FORM_URL###">
<input type="text" name="tracking"><br>
<input type="Submit" name="submit" value="Status sehen">
</form>

<!-- ###ADMIN_CONTROL### begin -->
<table border=0 cellpadding=1 cellspacing=0 bgcolor="black"><tr><td>
<table border=0 cellpadding=10 cellspacing=0 bgcolor="#92AFCB"><tr><td>
###GW1B### <strong>Shop ADMIN:</strong><br>
<!-- ###ADMIN_CONTROL_DENY### begin -->
<form method="post" action="###FORM_URL###">
###GW1B###Code:###GW1B###<br>
<input type="password" size=40 name="update_code" value="">
<input type="Submit" name="submit" value="Code eingeben">
</form>
<!-- ###ADMIN_CONTROL_DENY### begin -->
</td></tr></table>
</td></tr>
</table><br>
<!-- ###ADMIN_CONTROL### end -->


<!-- ###TRACKING_ENTER_NUMBER### end -->




<!-- ###TRACKING_WRONG_NUMBER### begin
Displays error message if no tracking code.
-->
###GW1B###<b>Den indtastede kode fandtes ikke! Prøv venligst igen!</b>###GW1E###<br>


	<form method="post" action="###FORM_URL###" name="###FORM_NAME###">
	<input type="text" name="tracking"><br>
	<input type="Submit" name="submit" value="Se status">
	</form>

<!-- ###TRACKING_WRONG_NUMBER### end -->


<!-- ###TRACKING_EMAILNOTIFY_TEMPLATE### begin

Subpart used as template for the notify emails
First line is used as subject for the mail.
-->

Inter-Photo ordre status (###ORDER_UID###)

ORDRE INFORMATION (###ORDER_UID###):
Status på din ordre er blevet ændret:

Tid: ###ORDER_STATUS_TIME###
Status: ###ORDER_STATUS_INFO###

Kommentar:
###ORDER_STATUS_COMMENT###


TRACKING:
Du får denne email, fordi du har valgt at modtage information om din ordre ved at opgive din email adresse.
Du kan følge status med din ordre samt ændre indstillinger for ordre information ved at bruge dit trackingnummer, som er
        ###ORDER_TRACKING_NO###

<a href="http://###DOMAIN###/index.php?id=###PID_TRACKING###&type=0&tracking=###ORDER_TRACKING_NO###">Klik her for at se information nu:</a>

Med venlig hilsen
	Inter Photo A/S
	Torvet 14
	8600 Silkeborg

	Tlf.nr.: 86804142

<!-- ###TRACKING_EMAILNOTIFY_TEMPLATE### end -->




<!-- ###TRACKING_EMAIL_GIFTNOTIFY_TEMPLATE### begin

Subpart used as template for the notify of gift emails
First line is used as subject for the mail.
-->
You have received a certificate

Sender:     ###PERSON_NAME###
Receiver:   ###DELIVERY_NAME###

Comment:  
###ORDER_STATUS_COMMENT###

value certificate in Euros:
###CERTIFICATES_TOTAL###

unique code certificate:
###CERTIFICATES_UNIQUE_CODE###

<a href="http://###DOMAIN###/index.php?">You have to create a user account here</a>

Med venlig hilsen
	Inter Photo A/S
	Torvet 14
	8600 Silkeborg

	Tlf.nr.: 86804142

<!-- ###TRACKING_EMAIL_GIFTNOTIFY_TEMPLATE### end -->




<!-- ###EMAIL_PLAINTEXT_TEMPLATE### begin

Subpart used as template for the order-emails


First line is used as subject for the mail.

-->

Inter-Photo ordre ####ORDER_UID###

ORDRE BEKRÆFTELSE:
Din ordre er gennemført og har nummer ###ORDER_UID###.
Brug dette nummer som reference ved henvendelse til Inter-Photo.
Vi håber, at du har følt dig lige så godt betjent i
vores Internet-butik, som i vores virkelige forretninger.


TRACKING:
Du kan følge status med din ordre ved at bruge dit trackingnummer, som er
        http://###DOMAIN###/index.php?id=###PID_TRACKING###&type=0&tracking=###ORDER_TRACKING_NO###


ORDER:

1) Varer:
	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
producttitel: ###PRODUCT_TITLE###<!-- ###display_variant2### --> (Size
  ###FIELD_SIZE_VALUE###)<!-- ###display_variant2### -->
productnummer: ###PRODUCT_ITEMNUMBER###
price: ###PRICE_TAX### ¤
quantity: ###FIELD_QTY###        = ###PRICE_TOTAL_TAX### ¤
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->

2) invoice adress:
###PERSON_NAME###
###PERSON_ADDRESS###

telephone: ###PERSON_TELEPHONE###
email: ###PERSON_EMAIL###


3) delivery address:
###DELIVERY_ADDRESS###
att. ###DELIVERY_NAME###
telephone: ###DELIVERY_TELEPHONE###
email: ###DELIVERY_EMAIL###


4) Noter ved ordren:
###DELIVERY_NOTE_DISPLAY###


5) Forsendelse:
###SHIPPING_TITLE###
price: ###PRICE_SHIPPING_TAX### ¤ (###PRICE_SHIPPING_NO_TAX### excl. tax)


6) payment form:
###PAYMENT_TITLE###
price: ###PRICE_PAYMENT_TAX### ¤ (###PRICE_PAYMENT_NO_TAX### excl. tax)


TOTAL: ________________________ ¤ ###PRICE_TOTAL_TAX###
(excl. tax: ###PRICE_TOTAL_NO_TAX###)

Med venlig hilsen, Inter-Photo





<!-- ###EMAIL_PLAINTEXT_TEMPLATE### end -->


</body>
</html>



<!-- ###EMAIL_HTML_SHELL### begin -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

<STYLE TYPE="text/css">
<!--

		select  {  font-family: Verdana, Arial, Helvetica; font-size: 10px }
		textarea  {  font-family: Verdana, Arial, Helvetica; font-size: 10px}
		input   {  font-family: Verdana, Arial, Helvetica; font-size: 10px }

-->
</STYLE>
<title>Inter-Photo: Betaling / Indkøbskurv</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="generator" content="Typo 3.1 CMS">

<script language="javascript">
<!--
	browserName = navigator.appName;
	browserVer = parseInt(navigator.appVersion);
	var msie4 = (browserName == "Microsoft Internet Explorer" && browserVer >= 4);
	if ((browserName == "Netscape" && browserVer >= 3) || msie4) {version = "n3";} else {version = "n2";}

	function openPic(url,winName,winParams)	{
		var theWindow = window.open(url,winName,winParams);
		if (theWindow)	{theWindow.focus();}
	}
	function blurLink(theObject)	{
		if (msie4)	{
			theObject.blur();
		}
	}


// End Hiding Script -->
</script>

</head>
<BODY bgColor="#FBF9F7" link="black" vlink="black" alink="black" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10">

###HTML_BODY###

</body></html>

<!-- ###EMAIL_HTML_SHELL### end -->


 
