# my.cnf suggestions for dual cpu, 2 GB RAM box
# MLC 20090921 start
#
# For people with a single CPU be sure to set thread_concurrency to 2 (4 is for
# Dual CPUs). 
#
# People with 1GB of RAM, you might want to consider lowering the key_buffer to # 64M and the myisam_sort_buffer_size to 32M.

concurrent_insert = 1
innodb_buffer_pool = 8M
key_buffer = 256M
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 256M
max_allowed_packet = 256M
max_connect_errors = 2000000
max_connections=300
max_heap_table_size = 1024M
max_tmp_tables = 200
myisam_sort_buffer_size=64M
open_files_limit = 60000
query_cache_limit= 64M
query_cache_size= 512M
query_cache_type= 1
read_buffer_size = 8M
read_rnd_buffer_size = 8M
skip-locking
sort_buffer_size = 16M
table_cache = 2048
thread_cache = 200
thread_cache_size = 200
thread_concurrency = 8
tmp_table_size = 1024M
wait_timeout = 30

# additional
log-long-format
log-queries-not-using-indexes
# blank log-slow-queries to turn off otherwise, use a path /home/mysql/slow.log
log-slow-queries = 
long_query_time = 2

# MLC 20090921 end
