<html>
<head>
	<title>New Sponsor</title>
</head>
<body>
	<h1>News Sponsor Template</h1>
	<p>The fllowing template markers can be used in sponsor display.</p>
	<h3>Markers</h3>
	<pre>
###SPONSOR_TEXT###
###SPONSOR_MESSAGE_TEXT###
###SPONSOR_TITLE_TEXT###
###SPONSOR_IMAGE_TITLE_TEXT###
###SPONSOR_DESCRIPTION_TEXT###
###SPONSOR_URL_TEXT###
###SPONSOR_CONTACT_EMAIL_TEXT###
###SPONSOR_CONTACT_NAME_TEXT###
###SPONSOR_SERVICES_TEXT###
###SPONSOR_LOGO_TEXT###
###SPONSOR_COUNTRY_TEXT###

###SPONSOR_UID###
###SPONSOR_MESSAGE###

###SPONSOR_TITLE###
###SPONSOR_DESCRIPTION###
###SPONSOR_URL###
###SPONSOR_CONTACT_NAME###
###SPONSOR_CONTACT_EMAIL###
###SPONSOR_SERVICES###
###SPONSOR_LOGO###
###SPONSOR_COUNTRY###
	</pre>

	<hr />
	<h1>TEMPLATE_SPONSOR</h1>
<!-- ###TEMPLATE_SPONSOR### begin
	Subpart for lead email
-->
<table>
	<tr>
		<td colspan="2" style="vertical-align: top;">
			###SPONSOR_TITLE_TEXT### ###SPONSOR_TITLE###
		</td>
	</tr>
	<tr>
		<td style="vertical-align: top;">
			###SPONSOR_IMAGE_TITLE_TEXT###
			###SPONSOR_LOGO###
			###SPONSOR_SERVICES###
		</td>
		<td style="vertical-align: top;">
			###SPONSOR_MESSAGE###
			###SPONSOR_DESCRIPTION###
			###SPONSOR_CONTACT_NAME_TEXT###
			###SPONSOR_CONTACT_NAME###
			###SPONSOR_CONTACT_EMAIL_TEXT###
			###SPONSOR_CONTACT_EMAIL###
			###SPONSOR_URL_TEXT###
			###SPONSOR_URL###
			###SPONSOR_COUNTRY_TEXT###
			###SPONSOR_COUNTRY###
		</td>
	</tr>
</table>
<!-- ###TEMPLATE_SPONSOR### end -->
</body>
</html>
