<!-- $Id: caseEntryList.tmpl,v 1.1.1.1 2010/04/15 10:03:39 peimic.comprock Exp $ -->
<tr>
	<td>###VALUE_CASEEDIT_LINK###</td>
	<td>###VALUE_DATE_MODIFIED###</td>
	<td>###VALUE_NAME###</td>
	<td>###VALUE_STATUS###</td>
	<td>###VALUE_PRIORITY###</td>
	<td>###VALUE_RESOLUTION###</td>
	<td>###VALUE_ASSIGNED_USER_NAME###</td>
</tr>
