<!-- $Id: casesList.tmpl,v 1.1.1.1 2010/04/15 10:03:39 peimic.comprock Exp $ -->
<table>
	<tr>
		<th>###CASE_NUMBER###</th>
		<th>###DATE_MODIFIED###</th>
		<th>###NAME###</th>
		<th>###STATUS###</th>
		<th>###PRIORITY###</th>
		<th>###RESOLUTION###</th>
		<th>###ASSIGNED_USER_NAME###</th>
	</tr>
###CASE###
</table>
