<!-- $Id: noteEntryList.tmpl,v 1.1.1.1 2010/04/15 10:03:39 peimic.comprock Exp $ -->
<tr>
	<th>###NAME###</td>
	<td>###VALUE_NAME###</td>
	<th>###DATE_MODIFIED###</td>
	<td>###VALUE_DATE_MODIFIED###</td>
</tr>
<tr>
	<th colspan="4">###DESCRIPTION###</td>
</tr>
<tr>
	<td colspan="4">###VALUE_DESCRIPTION###</td>
</tr>
<tr>
	<th>###FILENAME###</td>
	<td colspan="3">###VALUE_FILENAME_LINK###</td>
</tr>
<tr>
	<td colspan="4"><hr /></td>
</tr>
