<html>
<head>
	<title>New Userinfor</title>
</head>
<body>
	<h1>News Userinfo Template</h1>
	<p>The fllowing template markers can be used in the lead email.</p>
	<h3>Markers</h3>
	<pre>
###CONTACT_TEXT###
###UID_TEXT###
###UID###
###USERNAME_TEXT###
###USERNAME###
###FIRST_NAME_TEXT###
###FIRST_NAME###
###LAST_NAME_TEXT###
###LAST_NAME###
###EMAIL_ADDRESS_TEXT###
###EMAIL_ADDRESS###
###TELEPHONE_TEXT###
###TELEPHONE###
###FAX_TEXT###
###FAX###
###WWW_TEXT###
###WWW###
###TITLE_TEXT###
###TITLE###
###COMPANY_TEXT###
###COMPANY###
###ADDRESS_TEXT###
###ADDRESS###
###CITY_TEXT###
###CITY###
###STATE_TEXT###
###STATE###
###ZIP_TEXT###
###ZIP###
###COUNTRY_TEXT###
###COUNTRY###
	</pre>

	<hr />
	<h1>TEMPLATE_USERINFO</h1>
<!-- ###TEMPLATE_USERINFO### begin
	
-->
###CONTACT_TEXT###
<hr />
###FIRST_NAME_TEXT### ###FIRST_NAME###
###LAST_NAME_TEXT### ###LAST_NAME###
###TITLE_TEXT### ###TITLE###
###COMPANY_TEXT### ###COMPANY###
###EMAIL_ADDRESS_TEXT### ###EMAIL_ADDRESS###
###TELEPHONE_TEXT### ###TELEPHONE###
###FAX_TEXT### ###FAX###
###WWW_TEXT### ###WWW###
<br />
###ADDRESS_TEXT###
<hr />
###ADDRESS###
###CITY###, ###STATE### ###ZIP###
###COUNTRY###
<!-- ###TEMPLATE_USERINFO### end -->
</body>
</html>
