<html>
<head>
	<title>New Lead</title>
</head>
<body>
	<h1>News Lead Template</h1>
	<p>The fllowing template markers can be used in the lead email.</p>
	<h3>Markers</h3>
	<pre>
###SPONSOR_CONTACT_NAME###
###LEAD_TEXT###
###ARTICLE_TEXT###
###REQUESTERS_TEXT###
###ARTICLE_TITLE_TEXT###
###ARTICLE_TITLE###
###FILE_NAME_TEXT###
###FILE_NAME###
###REFERRER_TEXT###
###REFERRER###

From news_userinfo
###CONTACT_TEXT###
###FIRST_NAME_TEXT###
###FIRST_NAME###
###LAST_NAME_TEXT###
###LAST_NAME###
###EMAIL_ADDRESS_TEXT###
###EMAIL_ADDRESS###
###TELEPHONE_TEXT###
###TELEPHONE###
###WWW_TEXT###
###WWW###
###TITLE_TEXT###
###TITLE###
###COMPANY_TEXT###
###COMPANY###
###ADDRESS_TEXT###
###ADDRESS###
###CITY_TEXT###
###CITY###
###STATE_TEXT###
###STATE###
###ZIP_TEXT###
###ZIP###
###COUNTRY_TEXT###
###COUNTRY###
	</pre>

	<hr />
	<h1>TEMPLATE_EMAIL</h1>
<!-- ###TEMPLATE_EMAIL### begin
	Subpart for lead email
-->
###LEAD_TEXT###

###REQUESTERS_TEXT###
----------------------
###FIRST_NAME_TEXT### ###FIRST_NAME###
###LAST_NAME_TEXT### ###LAST_NAME###
###COMPANY_TEXT### ###COMPANY###
###EMAIL_ADDRESS_TEXT### ###EMAIL_ADDRESS###
###TELEPHONE_TEXT### ###TELEPHONE###

###ADDRESS_TEXT###
----------------------
###ADDRESS###
###CITY###, ###STATE### ###ZIP###
###COUNTRY###

###ARTICLE_TEXT###
----------------------
###ARTICLE_TITLE_TEXT### ###ARTICLE_TITLE###
<!-- ###TEMPLATE_EMAIL### end -->
</body>
</html>
