<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="EDMS.css">
<title>EDMS User Profile</title>
</head>

<body>
<div id="EDMS">
	<h1>Betty Mitchell</h1>
	<div id="Users">
	<h2 title="User Profile"></h2>
	<div class="EditUser" title="Edit this user"><a href="#">Edit user</a></div>
	<div class="CreateUser" title="Create user"><a href="#">Create user</a></div>
	<div class="clearer"></div>
	<!-- User -->
		<div id="UserProfile">
		<h3>user</h3>
		<div class="clearer"></div>
		<div id="UserProfileWrap">
			<div class="btm">
				<div class="title">
				Planner Profile
				</div>
				<div class="entry">
					<label>Name:</label>
					<div class="input">Betty Mitchell</div>
					<div class="clearer"></div>	
				</div>
				<div class="entry">
					<label>Title:</label>
					<div class="input">Facilities Manager</div>
					<div class="clearer"></div>	
				</div>
				<div class="entry">
					<label>Email Address:</label>
					<div class="input">bmitchell@golinharris.com</div>
					<div class="clearer"></div>	
				</div>	
				<div class="entry">
					<label>Work Phone:</label>
					<div class="input">301.324.3239</div>
					<div class="clearer"></div>	
				</div>
				<div class="entry">
					<label>Mobile Phone:</label>
					<div class="input">301.324.3939</div>
					<div class="clearer"></div>	
				</div>	
				<div class="entry">
					<label>Home Phone:</label>
					<div class="input">301.324.3969</div>
					<div class="clearer"></div>	
				</div>	
				<div class="entry">
					<label>User Type:</label>
					<div class="input">Admin, read and write all</div>
					<div class="clearer"></div>	
				</div>
				<div class="CreateUserGray" title="Create user"><a href="#">Create user</a></div>
				<div class="EditUserGray" title="Edit this user"><a href="#">Edit user</a></div>
				</div>
			</div>
		</div>
		<!-- /User -->
	</div>
</div>
</body>
</html>
